.textFiltrado{
  display: none !important;
}

.tecla{
  width: 55px;
  margin: 2px 0px 2px 0px;
}

.barra{
  width: 590px;
}

#borrar{
  width: 55px;
}

#intro{
  width: 55px;
}

#teclaMayus{
  width: 55px;
}

.upper {
  text-transform: lowercase;
}